@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}
::selection {
  background-color: rgba(0, 0, 0, 0.5);
}


::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.9);
}



@keyframes rotate {
  0% {
    transform: rotate(0deg);
    font-size: 6rem;
  }
  50% {
    font-size: 0;

  }
  100% {
    transform: rotate(360deg);
    font-size: 4rem;
  }
}

.rotate {
  animation: rotate 2s infinite ease-in-out;
}
@keyframes wtl {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


@keyframes htl {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.wtl {
  animation: wtl 800ms forwards ease-in;
}
.htl {
  animation: htl 800ms forwards ease-in;
}

@keyframes wbr {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


@keyframes hbr {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.wbr {
  animation: wbr 800ms forwards ease-in;
}
.hbr {
  animation: hbr 800ms forwards ease-in;
}