@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    font-size: 5rem;
  }
  50% {
    font-size: 0;

  }
  100% {
    transform: rotate(360deg);
    font-size: 3rem;
  }
}

.rotate {
  animation: rotate 2s infinite ease-in-out;
}
@keyframes wtl {
  from {
    width: 0;
  }
  to {
    width: 12rem;
  }
}


@keyframes htl {
  from {
    height: 0;
  }
  to {
    height: 8rem;
  }
}

.wtl {
  animation: wtl 800ms forwards ease-in;
}
.htl {
  animation: htl 800ms forwards ease-in;
}

@keyframes wbr {
  from {
    width: 0;
  }
  to {
    width: 5rem;
  }
}


@keyframes hbr {
  from {
    height: 0;
  }
  to {
    height: 13rem;
  }
}

.wbr {
  animation: wbr 800ms forwards ease-in;
}
.hbr {
  animation: hbr 800ms forwards ease-in;
}